:root {
  --primary-color: #f4f4f4;
}

@font-face {
  font-family: "Stolzl";
  src: url("../fonts/stolzlregular.eot");
  src: url("../fonts/stolzlregular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/stolzlregular.woff2") format("woff2"),
    url("../fonts/stolzlregular.woff") format("woff"),
    url("../fonts/stolzlregular.ttf") format("truetype"),
    url("../fonts/stolzlregular.svg#Stolzl") format("svg");
}

html {
  font-size: 100%;
}

body {
  background: #f4f4f4;
  font-family: "Stolzl", sans-serif;
  font-size: 1rem;
}

.origins {
  background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  body {
    background-color: var(--primary-color);
  }
}

h1 {
  color: #000000;
}
/* black logo intergation to sit within the nav bar. Has defined width and height with 90% scaling. Made by me. */
.logo {
  background: url("Gordon Andrews logo.png");
  width: 460px;
  height: auto;
  padding: 10px;
  scale: 90%;
}
/* light logo animation hover to increase interactivity and feedback from user interaction. */
.logo:hover {
  scale: 100%;
  transition: scale 300ms ease-in-out;
}
/* heading describing the overview of the website pages. This is ordered at the top of every page. */
h2 {
  font-size: 45px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  color: #3c3b3b;
  font-variant: small-caps;
  font-weight: 600;
}
/* Confining the nav and footer to have a fixed width of 80% which spaces the elements out nicely. */
.wrapper {
  margin: 0 auto;
  width: 80%;
}

.hero h3 {
  display: flex;
  font-size: clamp(1rem, 2vw + 1rem, 3rem);
  color: #ffffff;
  padding: 0.5em;
  justify-content: center;
}
/* Confining the nav bar to top of the page, fixing it in position while not interupting any elements underneath. Using so users 
can access portions of the navigation material even when they're at the bottom or middle of the page. */
header {
  background: rgb(255, 255, 255);
  padding: 1em 0;
  box-shadow: 2px 2px 7px 3px rgb(156, 156, 156);
  border-radius: 0px 0px 28px 28px;
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 3rem;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* Allows images to not clip over the top of the navigation bar. */
header {
  z-index: 2;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 0.3em;
}
/* Text decoration and gap properties of the headings within the nav bar.*/
nav a {
  text-decoration: none;
  color: #3c3b3b;
  padding-left: 0.75em;
  padding-right: 2.75em;
  border-radius: 0.5em;
  letter-spacing: 0.1em;
  font-size: 20px;
}
/* Thicker font weight when hovering over navigation tools, allows feedback that the user can visually see*/
nav a:hover {
  font-weight: 1000;
}
/* Orientation of infographic hero image. Using grid display settings to effectively layout each portion of the infographic including information and sub-headings.*/
.infographic {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  grid-template-areas:
    "title . blurb"
    "history . blurb"
    "history . skills";
  justify-content: space-between;
  background: url("/assets/Images/gordon andrews hero image.png") top / cover;
  color: white;
  padding: 2rem;
  max-height: 1000px;
}
/* Used to hoouse the title and to create a glassmorphism blur as an underlaying background.*/
.infographic--bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  padding: 0.75rem;
  margin: 0.75rem;
  border: #ffffff 2px solid;
}

/* Used to house the title of the infographic. In this case , it is Gordon Andrews' name, date of birth and death date.*/
.infographic__title {
  grid-area: title;
  font-size: 1.5rem;
  font-weight: 700;
}
/* Display flex used to create history items, with multipel dots points.*/
.infographic__history {
  grid-area: history;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem;
}
/* Properties to create the dashed line around the dot points of history.*/
.history__line {
  box-sizing: border-box;
  position: absolute;
  top: -0.25rem;
  border-left: 1px dashed white;
  border-bottom: 1px dashed white;
  border-bottom-left-radius: 1rem;
  height: 100%;
  width: 10rem;
}
/* Used to create space and the final dot on each end of the line.*/
.history__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.25rem;
  background: white;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
}

.history__line::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  background: white;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
}

/* Hisory items including his birth place, training, workings and death date.*/
.history__item {
  padding-left: 1rem;
  font-size: 18px;
}

.history__item:last-child {
  padding-bottom: 1rem;
}
/* A brief blurb of Gordon Andrews life.*/
.infographic__blurb {
  grid-area: blurb;
  font-size: 1.25rem;
}
/* This section includes the bubble and skill disciplines that Gordon Andrews possessed. */
.infographic__skills {
  grid-area: skills;
  display: flex;
  flex-direction: column;
}
/* Skill disiciplines of Gordon Andrews.*/
.skills__title {
  font-size: 1.25rem;
  font-weight: 700;
}

.skill__item {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Certain properties above to confine to mobile display settings. This mostly included font size,
 font weight and line height foor text legibility. A minor grid format change was implemented via display grid settings so the viewers can clearly see the hero image in the background/*/
@media (max-width: 595px) {
  .skills__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  .infographic__blurb {
    grid-area: blurb;
    font-size: 14px;
    line-height: 16px;
  }

  .infographic__title {
    font-size: 18px;
    line-height: 24px;
  }
  .skill__item {
    font-size: 18px;
  }
  .history__item {
    font-size: 14px;
    line-height: 16px;
  }
  .infographic {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      "title  blurb"
      ".  blurb"
      ". skills"
      ".  history";
  }
  .history__line {
    transform: scaleX(-1);
  }
}

a {
  color: unset;
  text-decoration: none;
}
/* overall div to place content in the center with the display setting of flex.*/
.container {
  display: flex;
  place-content: center;
}
/* Using grid format for proper representation of info cards. With gaps that match all surrounds.*/
.card-grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 6rem;
  place-items: center;
}
/* Info card base displaying transition animation when hovered. Box shadow has also been applied to resemble a 'floating' card in reference to the prototype.*/
.card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background: #e2c8a7;
  border: 2px solid #dab175;
  border-radius: 25px;
  padding: 0.75rem;
  transition: 250ms transform;
  box-shadow: 4px 4px 6px rgb(156, 156, 156);
}
/* small property allow each odd number of cards too inherit custom colour of green, with border colours.*/
.card:first-child,
.card:last-child {
  background: #dbeac3;
  border: 2px solid #b8da82;
}
/* Title of each info card.*/
.card__header {
  grid-area: header;
  padding: 0.5rem;
  font-weight: 700;
  color: #3c3b3b;
  font-size: 20px;
  line-height: 26px;
}
/* Fixed width of image to display a consistent theme across all info cards. Produces irrelgular shaped info cards similar to prototype.*/
.card-image {
  display: flex;
  flex: 1 1 auto;
  place-items: center;
  position: relative;
  max-width: 700px;
  height: 500px;
}

.card-image__background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}
/* Image background used in reference with title of info card.*/
.card-image__background--currency {
  background: url("https://www.be.unsw.edu.au/sites/default/files/news-images/3213483485_d7e8c7ea8a.jpg")
    center no-repeat;
  background-size: cover;
}

.card-image__background--chairs {
  background: url("https://www.artnet.com/WebServices/images/ll00216lldTF5GFgvTeR3CfDrCWvaHBOcjt8D/gordon-andrews-rondo-chairs-(pair).jpg")
    center no-repeat;
  background-size: cover;
}

.card-image__background--rbalogo {
  background: url("https://unreserved.rba.gov.au/assets/display/407461-max?u=5fc0c20ccbbb60d6c09906ddce6d4e68")
    center no-repeat;
  background-size: cover;
}

.card-image__background--graphicdesign {
  background: url("https://github.com/UC-Design/11056-source-content/blob/main/gordon-andrews/images/andrews-powerhouse-16.jpeg?raw=true")
    center no-repeat;
  background-size: cover;
}

/* Properties of image text to allow good contrast between text and blurred background when hovered. Off-grey font colours to provide softer viewing for the audience's eyes.*/

.card-image__text {
  position: relative;
  opacity: 0;
  transition: 250ms opacity;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid white;
  border-radius: 15px;
  padding: 2rem;
  margin: 3.5rem;
  color: #3c3b3b;
  font-size: 22px;
  line-height: 1.25;
}
/* PMobile variant changes that include property changes such as height, font-size, width and grid to all card properties.*/

@media (max-width: 595px) {
  .card-image {
    max-height: 250px;
  }
  .card-grid {
    grid-template: 1fr / 1fr;
    gap: 3em;
  }
  .card {
    width: 75vw;
  }
  .card-image__text {
    font-size: 14px;
    margin: 1.5rem;
    opacity: 1;
  }
}

/* Blur filter applied when hovering to focus eyes to image text.*/

.card-image:hover {
  .card-image__background {
    filter: blur(2px);
  }
  .card-image__text {
    opacity: 1;
  }
}
/* Minor scaling effect used to expand the info cards to allow the viewer to see the acknowledgement of interactivity with the cursor.*/
.card:hover {
  transform: scale(1.025);
}

/* Footer division that houses all footer components.*/
.footer {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  align-items: end;
  background: #3b3b3b;
  border-radius: 28px 28px 0 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 6rem;
}
/* Using grid display properties to order each grid area with their respective component. Small gap features.*/
.footer__details {
  display: grid;
  position: relative;
  grid-template-areas:
    "blocks separator links links"
    "logo separator details details";
  gap: 0.5rem;
}
/* Property changes to grid templates to organise the components in vertical format when displayed in mobile variants..*/
@media (max-width: 595px) {

  .footer {
    margin-top: 3rem;
  }

  .block {
    height: 2.5rem !important;
  }
  .footer__details {
    grid-template-areas:
      "links"
      "blocks"
      "details"
      "logo";
  }
  .footer__links {
    border-width: 0 !important;
    font-size: 14px;
    padding-top: 6px;
  }
  .footer__contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: unset;
  }
  .contact_details__item {
    width: 100%;
    border-bottom: 2px solid white;
    padding-bottom: 0.75rem;
    padding-top: 0.25rem;
    line-height: 20px;
  }
  .contact-details__separator {
    display: none;
  }
}
/* Footer blocks of colour with a border located on the bottom to create visual seperation between each grid area.*/

.footer__blocks {
  grid-area: blocks;
  display: flex;
  gap: 0.5rem;
  height: 100%;
  align-items: center;
  border-bottom: 2px solid white;
  margin-bottom: 0.75rem;
}

/* Display blocks inline between desktop and mobile variants in reference to the prototype.*/
.block {
  display: inline;
  height: 4rem;
  border-radius: 4px;
  flex: 1 1 auto;
}
/* Variable width with the appopriate colour choices.*/
.block--green {
  width: 90px;
  background: green;
}
/* Variable width with the appopriate colour choices.*/
.block--lightgreen {
  width: 60px;
  background: yellowgreen;
}
/* Variable width with the appopriate colour choices.*/
.block--yellow {
  width: 40px;
  background: darkgoldenrod;
}
/* Another addition of navigation but located within the footer. Center-aligned with hover font-weights. Border located on the bottom to visualise seperation between footer components.*/
.footer__links {
  grid-area: links;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  border-bottom: 2px solid white;
  justify-content: space-evenly;
}
/* This seperator div is used solely for the longer vertical border between the logo and disclaimer. */
.footer__separator {
  grid-area: separator;
  height: 100%;
  border-left: 2px solid white;
}
/* Varying font-weight when hovered over by cursor.*/
.footer__link {
  font-weight: 400;
}

.footer__link:hover {
  font-weight: 1000;
}

.footer__link--active {
  color: rgb(255, 255, 255);
}
/* Housing of live link logo. When clicked, acts as another home screen wayfinder.*/
.footer__logo {
  grid-area: logo;
  display: flex;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}
/* Contact details with flex display. */
.footer__contact-details {
  grid-area: details;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}
/* Seperator div used as smaller border between details and disclaimer.*/
.contact-details__separator {
  border-left: 2px solid white;
  height: 2.5rem;
}
/* Mobile variants of nav bar. Allowing the logo and headings to be centered and clearly displayed.*/

@media (max-width: 585px) {
  nav a {
    padding: 0.4em;
    text-align: center;
    font-size: 10px;
  }

  header .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  h2 {
    font-size: 24px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .logo {
    width: 320px;
    padding: 20px;
    padding-left: 10px;
    object-position: center;
  }
}

@media (max-width: 1592px) {
  .links ul {
    gap: 6rem;
    padding-left: 4rem;
  }
}



























/* PREVIOUS WORKS PAGE*/




/* Previous works cards displayed with flex and colomn as flex-direction. This creates an offsetting info card.*/

.cards {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

/* 50% of the width pre-expansion with rounded corners to be consistent with other shapes in the composition.*/

.expand-card {
  width: 50%;
  border-radius: 10px;
  transition: width 250ms;
}

/* post-expansion card stretches 100% of the screen, with site padding considered.*/
.expand-card.expanded {
  width: 100%;
}
/* First card start left then pushes right the further down the cards go, with green colours, reflecting the colour scheme. Borders and gradients are applied to add depth and variety within the design. As  seen in the prototype.*/
.expand-card--left {
  background: linear-gradient(0.25turn, #75963f, #bfd1a3);
  border: 1px solid rgb(61, 167, 61);
  align-self: flex-start;
}
/* second card relfects an orange colour scheme with the same base properties as the left cards. The difference is the colour scheme changes and direction of expansion. */
.expand-card--right {
  background: linear-gradient(0.25turn, #ebd9c3, #e09738);
  border: 1px solid #e2c8a7;
  align-self: flex-end;
}

/* Using display grid format to direct components within the card cover to resemble the prototype.*/
.card__cover {
  display: grid;
  grid-template-areas:
    "header"
    "cards"
    "footer";
  padding: 0.75rem;
}
/* The gallery includes the cover photos pictured pre-expansion. With small gaps and pre-determined height.*/
.cover__gallery {
  grid-area: cards;
  display: grid;
  gap: 0.5rem;
  height: 20rem;
}
/* Cover header for the title of each info card. Allows spacing forthe text title the breathe and sit nicely within the design.*/
.cover__header {
  grid-area: header;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}
/* Footer text is spaced to left the area breathe. The text include the author of the info card, in the case it is 'Gordon Andrews'*/
.cover__footer {
  grid-area: footer;
  padding-top: 1rem;
  color: #3c3b3b;
}

.expand-card--left .cover__header,
.expand-card--left .cover__footer {
  text-align: left;
}

.expand-card--right .cover__header,
.expand-card--right .cover__footer {
  text-align: right;
}

.expand-card--left .cover__gallery {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr auto;
  grid-template-areas: "main image-1 image-2 button";
}

.expand-card--right .cover__gallery {
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-areas: "button image-1 image-2 main ";
}

.expand-card--left.expanded .cover__gallery {
  grid-template-areas:
    "main image-1 button"
    "main image-2 button";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr auto;
}

.expand-card--right.expanded .cover__gallery {
  grid-template-areas:
    "button image-1 . main"
    "button image-2 . main";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr 0fr 3fr;
}

.card__main {
  grid-area: main;
}
/* images with -chair are all encapsulated within the chair design info card. Without this, all images within these links would be applied to every info card present.*/
.card__image-1-chair {
  grid-area: image-1;
  background: url("https://vamptvintagedesign.com/wp-content/uploads/2020/05/Gordon-Andrews-Rondo-chair-375x400.jpg")
    center / cover;
}

.card__image-2-chair {
  grid-area: image-2;
  background: url("https://imagedelivery.net/znDGKaxxskgDbNUpqPVRFg/ph-collection-media/images/446365.jpg/w=2560,q=75,metadata=keep")
    center / cover;
}

.expanded .card__image-1-chair {
  background: url("https://www.artnet.com/WebServices/images/ll00216lldTF5GFgvTeR3CfDrCWvaHBOcjt8D/gordon-andrews-rondo-chairs-(pair).jpg")
    center / cover;
}

.expanded .card__image-2-chair {
  background: url("https://img.carters.com.au/b27015b6d765185a96c79922b3f28ca6.jpg")
    center / cover;
}

.card-image__background-previousworks-chair {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background: url("https://imagedelivery.net/znDGKaxxskgDbNUpqPVRFg/ph-collection-media/images/1668160.jpg/w=2560,q=75,metadata=keep")
    center / cover;
}
/* images with -currency are all encapsulated within the currency info card.*/
.card__image-1-currency {
  grid-area: image-1;
  background: url("https://insidestory.org.au/wp-content/uploads/2017/07/6c21686c-2.jpg")
    center / cover;
}

.card__image-2-currency {
  grid-area: image-2;
  background: url("https://www.be.unsw.edu.au/sites/default/files/news-images/3213483485_d7e8c7ea8a.jpg")
    center / cover;
}

.expanded .card__image-1-currency {
  background: url("https://insidestory.org.au/wp-content/uploads/2017/07/76f170f6-10.jpg")
    center / cover;
}

.expanded .card__image-2-currency {
  background: url("https://www.architectureanddesign.com.au/_next/image?url=https%3A%2F%2Fassets.architectureanddesign.com.au%2Fone-decimal-image-1.jpg&w=1080&q=75")
    center / cover;
}

.card-image__background-previousworks-currency {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background: url("https://a-g-i.s3.eu-west-3.amazonaws.com/gordonandrews/_1600xAUTO_crop_center-center_75_none/Andrews_01.jpg")
    center / cover;
}
/* images with -rba are all encapsulated within the reserve bank of australia info card.*/
.card__image-1-rba {
  grid-area: image-1;
  background: url("https://imagedelivery.net/znDGKaxxskgDbNUpqPVRFg/ph-collection-media/images/266580.jpg/w=2560,q=75,metadata=keep")
    center / cover;
}

.card__image-2-rba {
  grid-area: image-2;
  background: url("https://imagedelivery.net/znDGKaxxskgDbNUpqPVRFg/ph-collection-media/images/880874.jpg/w=2560,q=75,metadata=keep")
    center / cover;
}

.expanded .card__image-1-rba {
  background: url("https://imagedelivery.net/znDGKaxxskgDbNUpqPVRFg/ph-collection-media/images/880880.jpg/w=2560,q=75,metadata=keep")
    center / cover;
}

.expanded .card__image-2-rba {
  background: url("https://unreserved.rba.gov.au/assets/display/407461-max?u=5fc0c20ccbbb60d6c09906ddce6d4e68")
    center / cover;
}

.card-image__background-previousworks-rba {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background: url("https://imagedelivery.net/znDGKaxxskgDbNUpqPVRFg/ph-collection-media/images/1630421.jpg/w=1200,q=75,metadata=keep")
    center / cover;
}
/* images with -graphics are all encapsulated within the australian graphics design info card.*/
.card__image-1-graphics {
  grid-area: image-1;
  background: url("https://a-g-i.s3.eu-west-3.amazonaws.com/gordonandrews/Andrews_03.jpg")
    top / cover;
}

.card__image-2-graphics {
  grid-area: image-2;
  background: url("https://imagedelivery.net/znDGKaxxskgDbNUpqPVRFg/ph-collection-media/images/1331293.jpg/w=400,q=75,metadata=keep")
    center / cover;
}

.expanded .card__image-1-graphics {
  background: url("https://imagedelivery.net/znDGKaxxskgDbNUpqPVRFg/ph-collection-media/images/880865.jpg/w=2560,q=75,metadata=keep")
    center / cover;
}

.expanded .card__image-2-graphics {
  background: url("https://imagedelivery.net/znDGKaxxskgDbNUpqPVRFg/ph-collection-media/images/880889.jpg/w=2560,q=75,metadata=keep")
    center / cover;
}

.card-image__background-previousworks-graphics {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background: url("https://tabithatindall.wordpress.com/wp-content/uploads/2014/08/g-andrews.jpg?w=1400")
    center / cover;
}
/* This underlines the proeprties including padding, gaps etc for the text box for info cards post-expansion. This allow space around the text and bubble to allow breathing.*/
.card-image__text-previousworks {
  display: none;
  position: relative;
  opacity: 0;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.75rem;
  margin: 3.5rem;
  font-size: 18px;
  width: 100%;
  line-height: 24px;
}
/* filter blur to allow the reader to focus on the text box rather than the underlaying image.*/
.expanded .card-image__background-previousworks {
  filter: blur(2px);
}

.expanded .card-image__text-previousworks {
  display: block;
  opacity: 1;
}
/* Adds a button feature which lets hte user expand and contract the info card to show more information or to collapse it to its original state.*/
.expand-contract__button {
  grid-area: button;
  display: flex;
  place-items: center;
}

.gallery__item {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  border: 1px solid white;
  border-radius: 10px;
}
/* mobile variant format changes include the layout of the grid. Instead of the same layout, it is presented in a vertical manner. 
  Font sizes and padding was considered to allow smaller fonts to breathe and become legible on smaller screens such as mobile.*/
@media (max-width: 595px) {
  .expand-card {
    width: 100%;
  }
  .expand-card--left .cover__gallery {
    grid-template-rows: repeat(3, 1fr) auto;
    grid-template-columns: 1fr;
    grid-template-areas: "main" " image-1" "image-2" "button";
  }
  .expand-card--left.expanded .cover__gallery {
    grid-template-areas: "main main" "main main" "image-1 image-2" "button button";
    grid-template-rows: repeat(3, 1fr) auto;
    grid-template-columns: 1fr 1fr;
  }
  .expand-card--right .cover__gallery {
    grid-template-rows: repeat(3, 1fr) auto;
    grid-template-columns: 1fr;
    grid-template-areas: "main" " image-1" "image-2" "button";
  }
  .expand-card--right.expanded .cover__gallery {
    grid-template-areas: "main main" "main main" "image-1 image-2" "button button";
    grid-template-rows: repeat(3, 1fr) auto;
    grid-template-columns: 1fr 1fr;
  }
  .cards {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .card-image__text-previousworks {
    font-size: 9px;
    line-height: 11px;
    margin: 0.5rem;
  }

  .cover__header {
    grid-area: header;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }
}

















/* IMPORTANCE PAGE*/




/* importance cards that cover the areas of: pioneer, mentorship and versatility. Padding was used left and right to apply a fixed width between
the overall site and the cards.*/

.importance-cards {
  padding-left: 15rem;
  padding-right: 15rem;
}

.importance-card {
  display: flex;
  place-items: center;
  position: relative;
}

.importance-card__background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  filter: blur(2px);
}
/* linear gradient used to replicate the prototype version.*/
.card__background--orange {
  background: linear-gradient(rgba(255, 165, 0, 0.5), rgba(255, 165, 0, 0.5)),
    url('https://agda.com.au/wp-content/uploads/2024/08/1270-gordon-andrews-976-607.png')
      center / cover no-repeat;
      border-radius: 28px;

}
/* simple grid display used to organise th header, seperator line and content blurb of each card. this is the most efficient way.*/
.importance-card__info {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'header'
    'separator'
    'content';
  gap: 3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #E09738;
  border-radius: 2px;
  padding: .75rem;
  margin: 0.75rem;
  font-size: 32px;
  height: 100%;
  width: 100%;
  border-radius: 28px;;
}
/* center alignment to replicate prototype and also dedicated font sizes.*/
.info__header {
  grid-area: header;
  text-align: center;
  font-size:12rem;
  padding: 1rem;
}
/* seperator div used to create the line between the header and content blurb*/
.info__separator {
  grid-area: separator;
  border-top:4px solid #E09738;
}
/* all content text properties with padding to allow text to breathe of edges. Appropriate line-height applied with off-grey font colour for legibility.*/
.info__content {
  grid-area: content;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  line-height: 38px;
  color: #3c3b3b;
}
/* all same properties applied from original but for the mentorship card*/
.importance-cards-mentorship {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 6rem;
}
/* all same properties applied but for the mentorship card with colour change etc.*/
.importance-card__info-mentorship {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'header'
    'separator'
    'content';
  gap: 3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #75963F;
  border-radius: 2px;
  padding: .75rem;
  margin: 0.75rem;
  font-size: 32px;
  height: 100%;
  width: 100%;
  border-radius: 28px;
}
/* all same properties applied but for the mentorship card but green coloured line*/
.info__separator-mentorship {
  grid-area: separator;
  border-top: 4px solid #75963F;
}
/* green linear gradient applied instead.*/
.card__background--orange-mentorship {
  background: linear-gradient(rgba(176, 233, 184, 0.808), rgba(145, 196, 145, 0.5)),
    url('https://i2.wp.com/learnantiques.com.au/wp-content/uploads/2019/07/Gordon-Andrews-Lovett-Bay-Sydney.jpg?fit=1200%2C782&ssl=1')
      center / cover no-repeat;
      border-radius: 28px;

}

.info__content-mentorship {
  grid-area: content;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  line-height: 38px;
  color: #3c3b3b;
}
/* all same properties applied but for the versatility card*/
.importance-cards-versatility {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 6rem;
}

.importance-card__info-versatility {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'header'
    'separator'
    'content';
  gap: 3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #E09738;
  border-radius: 2px;
  padding: .75rem;
  margin: 0.75rem;
  font-size: 32px;
  height: 100%;
  width: 100%;
  border-radius: 28px;;
}

.info__separator-versatility {
  grid-area: separator;
  border-top:4px solid #E09738;
}

.card__background--orange-versatility {
  background: linear-gradient(rgba(255, 165, 0, 0.5), rgba(255, 165, 0, 0.5)),
  url('https://recollection.com.au/thumbs/biographies/gordon-andrews/01_gordon-andrews_da_1967-480x480.jpg')
    center / cover no-repeat;
    border-radius: 28px;

}

.info__content-versatility {
  grid-area: content;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  line-height: 38px;
  color: #3c3b3b;
}
/* adjustment of padding sizes, seperator line thickness, font-sizes, gaps and width to all accomodate appropriately in the mobile variant.*/
@media (max-width: 595px) {
  .importance-cards {
    padding-left: 3rem;
  padding-right: 3rem;
  }

  .importance-cards-mentorship {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
  }

  .importance-cards-versatility {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
  }

  .info__content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    line-height: 16px;
  }

  .info__content-mentorship {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    line-height: 16px;
  }

  .info__content-versatility {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    line-height: 16px;
  }
  
  .importance-card__info {
    gap: .5rem;
    border-radius: 2px;
    padding: .75rem;
    margin: 0.75rem;
    font-size: 12px;
    height: 100%;
    width: 100%;
    border-radius: 28px;;
  }

  .importance-card__info-mentorship {
   gap: .5rem;
    border-radius: 2px;
    padding: .75rem;
    margin: 0.75rem;
    font-size: 12px;
    height: 100%;
    width: 100%;
    border-radius: 28px;;
  }

  .importance-card__info-versatility {
    gap: .5rem;
     border-radius: 2px;
     padding: .75rem;
     margin: 0.75rem;
     font-size: 12px;
     height: 100%;
     width: 100%;
     border-radius: 28px;;
   }

  .info__separator{
    grid-area: separator;
    border-top: 2px solid #E09738;
  }

  .info__separator-mentorship {
    grid-area: separator;
    border-top: 2px solid #75963F;
  }

  .info__separator-versatility {
    grid-area: separator;
    border-top: 2px solid #E09738;
  }

  .info__header {
    font-size: 3rem;
    padding: .25rem;
  }
}













/* CAREER & LEGACY PAGE*/


/* smiliar style to importance page cards, using the same padding technique to apply a fixed width in desktop mode.*/
.CL-cards {
  padding-left: 15rem;
  padding-right: 15rem;
}

.CL-card {
  display: flex;
  place-items: center;
  position: relative;
}
/* blurred underlying background to improve text contrast when applied.*/
.CL-card__background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  filter: blur(2px);
}
/* similar gradient applied, darker this time to replicate the prototype.*/
.CL-card__background--orange {
  background: linear-gradient(rgba(8, 65, 11, 0.5), rgba(5, 56, 30, 0.5)),
    url('https://upload.wikimedia.org/wikipedia/commons/d/d3/Technological_College%2C_Sydney.jpg')
      center / cover no-repeat;
      border-radius: 28px;

}
/* grid template used to create a simplistic orientation of componenets inside grid box. Scales down well to mobile variant.*/
.CL-card__info {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'header'
    'separator'
    'content';
  gap: 3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #325829;
  border-radius: 2px;
  padding: .75rem;
  margin: 0.75rem;
  font-size: 32px;
  height: 100%;
  width: 100%;
  border-radius: 28px;;
}

.CL-info__header {
  grid-area: header;
  text-align: center;
  font-size:12rem;
  padding: 1rem;
}

.CL-info__separator {
  grid-area: separator;
  border-top:4px solid #325829;
}

.CL-info__content {
  grid-area: content;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  line-height: 38px;
  color: #3c3b3b;
}
/* All lines below are for the 'career' section with the same properties applied other than colours and border colours*/
.CL-cards-career {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 6rem;
}

.CL-card__info-career {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'header'
    'separator'
    'content';
  gap: 3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #E09738;
  border-radius: 2px;
  padding: .75rem;
  margin: 0.75rem;
  font-size: 32px;
  height: 100%;
  width: 100%;
  border-radius: 28px;
}

.CL-info__separator-career {
  grid-area: separator;
  border-top: 4px solid #E09738;
}

.CL-card__background--orange-career {
  background: linear-gradient(rgba(95, 65, 25, 0.808), rgba(100, 77, 12, 0.5)),
    url('https://i2.wp.com/learnantiques.com.au/wp-content/uploads/2019/07/Gordon-Andrews-Lovett-Bay-Sydney.jpg?fit=1200%2C782&ssl=1')
      center / cover no-repeat;
      border-radius: 28px;

}

.CL-info__content-career {
  grid-area: content;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  line-height: 38px;
  color: #3c3b3b;
}
/* All lines below are for the 'influence' section with the same properties applied other than colours and border colours*/
.CL-cards-influence {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 6rem;
}

.CL-card-influence {
  display: flex;
  place-items: center;
  position: relative;

}

.CL-card__background-influence {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  filter: blur(2px);
}

.CL-card__background--orange-influence {
  background: linear-gradient(rgba(8, 65, 11, 0.5), rgba(5, 56, 30, 0.5)),
    url('https://imagedelivery.net/znDGKaxxskgDbNUpqPVRFg/ph-collection-media/images/883143.jpg/w=2560,q=75,metadata=keep')
      center / cover no-repeat;
      border-radius: 28px;

}

.CL-card__info-influence {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'header'
    'separator'
    'content';
  gap: 3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #325829;
  border-radius: 2px;
  padding: .75rem;
  margin: 0.75rem;
  font-size: 32px;
  height: 100%;
  width: 100%;
  border-radius: 28px;;
}

.CL-info__header-influence {
  grid-area: header;
  text-align: center;
  font-size:12rem;
  padding: 1rem;
}

.CL-info__separator-influence {
  grid-area: separator;
  border-top:4px solid #325829;
}

.CL-info__content-influence {
  grid-area: content;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  line-height: 38px;
  color: #3c3b3b;
}
/* All lines below are for the 'legacy' section with the same properties applied other than colours and border colours*/
.CL-cards-legacy {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 6rem;
}

.CL-card__info-legacy {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'header'
    'separator'
    'content';
  gap: 3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #E09738;
  border-radius: 2px;
  padding: .75rem;
  margin: 0.75rem;
  font-size: 32px;
  height: 100%;
  width: 100%;
  border-radius: 28px;
}

.CL-info__separator-legacy {
  grid-area: separator;
  border-top: 4px solid #E09738;
}

.CL-card__background--orange-legacy {
  background: linear-gradient(rgba(95, 65, 25, 0.808), rgba(100, 77, 12, 0.5)),
    url('https://i2.wp.com/learnantiques.com.au/wp-content/uploads/2019/07/Gordon-Andrews-Lovett-Bay-Sydney.jpg?fit=1200%2C782&ssl=1')
      center / cover no-repeat;
      border-radius: 28px;

}

.CL-info__content-legacy {
  grid-area: content;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  line-height: 38px;
  color: #3c3b3b;
}
/* similar to the importance page, using smaller padding sizes, font sizes and gaps sizes to produce a legible mobile variant when scaled down.*/
@media (max-width: 595px) {

  .CL-cards {
    padding-left: 3rem;
  padding-right: 3rem;
  }

  .CL-cards-career {
    padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  }

  .CL-cards-influence {
    padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  }

  .CL-cards-legacy {
    padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  }

  .CL-info__content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    line-height: 16px;
  }

  .CL-info__content-career {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    line-height: 16px;
  }

  .CL-info__content-influence {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    line-height: 16px;
  }

  .CL-info__content-legacy {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    line-height: 16px;
  }

  
  .CL-card__info {
    gap: .5rem;
    border-radius: 2px;
    padding: .75rem;
    margin: 0.75rem;
    font-size: 12px;
    height: 100%;
    width: 100%;
    border-radius: 28px;;
  }

  .CL-card__info-career {
    gap: .5rem;
    border-radius: 2px;
    padding: .75rem;
    margin: 0.75rem;
    font-size: 12px;
    height: 100%;
    width: 100%;
    border-radius: 28px;;
  }

  .CL-card__info-influence {
    gap: .5rem;
    border-radius: 2px;
    padding: .75rem;
    margin: 0.75rem;
    font-size: 12px;
    height: 100%;
    width: 100%;
    border-radius: 28px;;
  }

  .CL-card__info-legacy {
    gap: .5rem;
    border-radius: 2px;
    padding: .75rem;
    margin: 0.75rem;
    font-size: 12px;
    height: 100%;
    width: 100%;
    border-radius: 28px;;
  }

  .CL-info__separator {
    grid-area: separator;
    border-top: 2px solid #325829;
  }

  .CL-info__separator-career {
    grid-area: separator;
    border-top: 2px solid #E09738;
  }

  .CL-info__separator-influence {
    grid-area: separator;
    border-top: 2px solid #325829;
  }

  .CL-info__separator-legacy {
    grid-area: separator;
    border-top: 2px solid #E09738;
  }

  .CL-info__header {
    font-size: 3rem;
    padding: .25rem;
  }

  .CL-info__header-career {
    font-size: 3rem;
    padding: .25rem;
  }

  .CL-info__header-influence {
    font-size: 3rem;
    padding: .25rem;
  }

  .CL-info__header-legacy {
    font-size: 3rem;
    padding: .25rem;
  }
}











